@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html ::-webkit-scrollbar {
    width: 12px;
  }

html ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #ffffff;
  }

html ::-webkit-scrollbar-track {
    background: #00000010;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    max-width: 100vw;
    background-color: #E7F1F1;
    display: flex;
}

/* '---LOADING---' */

#content {
    width: 100%;
    display: flex;
    opacity: 0;
    transition: opacity 1s ease-in-out; 
}

#content.show {
    opacity: 1;
}

#box-load{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999999;
    background-color: #E7F1F1;
}

.loader {
    margin-top: -5px;
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #000000;
    width: 110px;
    height: 110px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* '---SIDEBAR---' */
nav{
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 190px;
    background-color: rgba(255, 255, 255, 0.678);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    transition: all 0.75s;
}

.close{
    width: 63px;
    transition: all 0.75s;
}

.open-nav{
    width: 50px;
    height: 20px;
    background-color: transparent;
    border-style: none;
    position: absolute;
    cursor: pointer;
}

.fa-bars{
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
}

.user{
    color: rgb(29, 29, 29);
    margin-top: 60px;
    padding-bottom: 30px;
    display: flex;
    text-align: start;
    align-items: center;
    gap: 0.35rem;
}

.fa-circle-user{
    margin-left: 10px;
    font-size: 36px;
}

a{
    display: flex;
    text-decoration: none;
    color: rgb(63, 63, 63);
    gap: 1rem;
    align-items: center;
    justify-content: center;
    transition: all 0.75s;
    font-size: 16px;
}

li{
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    display: flex;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    transition: all 0.75s;
}

li:hover{
    background-color: rgba(77, 77, 77, 0.082);
    transition: all 0.75s;
}
li:hover a{
    color: black;
    transition: all 0.75s;
}

li:hover .txt{
    transition: all 0.75s;
}

.active{
    background-color: #1d1d1d;
}

.active:hover{
    background-color: rgb(29, 29, 29);
}

.active a{
    color: white;
    transition: all 0.75s;
}

.active:hover a{
    color: white;
    transition: all 0.75s;
}

.active:hover .txt{
    color: white;
    transition: all 0.75s;
}

ul, i{
    font-size: 16px;
    padding-left: 4px;
}
.txt{
    font-size: 14px;
    margin-left: 12px;
    transition: all 0.75s;
}

.logout{
    border-top: 1px solid rgba(0, 0, 0, 0.116);
    padding-top: 10px;
}

#logout{
    background-color: transparent;
    border-style: none;
    padding-bottom: 10px;
    padding-left: 15px;
    align-items: center;
    gap: 2rem;
    display: flex;
}

txt{
    white-space: nowrap;
    text-overflow: ellipsis;
}

#container{
    font-size: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#container-title{
    font-size: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
#logoIntro{
    width: 500px;
    height: 500px;
}

#logoIntroEstatica {
    width: 500px;
    height: 500px;
    display: none;
}

#container-registrer{
    margin-top: 100px;
    width: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}